@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /*  */
  --white: #fafafa;
  --black: #1e2939;
  --muted-text: #4a5565;
  --brand-red: #cf1b1a;
  --brand-blue: #2563eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /*  */
  --font-nunito: var(--font-nunito), sans-serif;
  --color-white: var(--white);
  --color-black: var(--black);
  --color-muted-text: var(--muted-text);
  --color-brand-red: var(--brand-red);
  --color-brand-blue: var(--brand-blue);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

.pressable {
  @apply cursor-pointer whitespace-nowrap transition-colors duration-300;
}

.container {
  @apply mx-auto lg:w-6xl md:w-4xl w-full;
}

.debug {
  @apply border border-red-500;
}

.debug2 {
  @apply border border-green-500;
}

.debug3 {
  @apply border border-blue-500;
}

.debug4 {
  @apply border border-yellow-500;
}

.flex-cx {
  @apply flex items-center;
}

.flex-cb {
  @apply flex items-center justify-between;
}

.flex-cc {
  @apply flex items-center justify-center;
}

.flex-col-x {
  @apply flex flex-col;
}

.flex-col-xc {
  @apply flex flex-col justify-center;
}
